* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  width: 100%;
  border-radius: 50%;
  border: 1px solid #002868;
}

.title-banner {
  position: relative;
  width: 100%;
  max-height: 800px;
  overflow: hidden;
}

#banner-video {
  width: 100%;
}

video::-webkit-media-controls {
  display: none !important;
}

#banner-opaque {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
}

#banner-text {
  position: absolute;
  top: 10%;
  left: 40%;
  color: #BF0A30;
  font-family: 'Comfortaa', cursive;
  font-size: 48px;
}

#dropdown-menu {
  position: absolute;
  top: 25%;
  left: 45%;
}

form {
  display: inline-block;
}

input {
  display: inline-block;
}

.content {
  position: relative;
}

.results-headers {
  font-family: 'Cinzel', serif;
  color: #002868;
  font-size: 30px;
}

.results-text {
  text-align: center;
  color: #BF0A30;
  font-family: 'Zilla Slab', serif;
  font-size: 22px;
}

.comment {
    background-color: rgb(218, 213, 247);
}

.comment-text {
  text-align: left;
  color: #002868;
  font-family: 'Josefin Slab', serif;
  font-size: 16px;
}

p.comment-text {
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment-button {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
}

.update-button {
  margin-right: 5px;
}

.add-button {
  text-align: center;
}

.comment-button-add {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
}

div.results-card {
  margin-left: 50px;
}

p.results-text {
  margin: 0;
}

.modal-button {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
}

.hidden {
  display: none;
}
