* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;

  border: 1px solid #002868;
  border-radius: 50%;
}

.title-banner {
  position: relative;

  overflow: hidden;

  width: 100%;
  max-height: 400px;
}

#banner-video {
  width: 100%;
}

video::-webkit-media-controls {
  display: none !important;
}

#banner-opaque {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, .5);
}

#banner-text {
  position: absolute;
  top: 5%;
  left: 40%;

  color: #BF0A30;

  font-family: 'Comfortaa', cursive;
  font-size: 48px;
}

#dropdown-menu {
  position: absolute;
  top: 45%;
  left: 40%;
}

select.small-12.cell {
  height: 60px;

  color: #002868;

  font-family: 'Comfortaa', cursive;
  font-size: 30px;
}

input#js-dropdown-submit.small-12.cell {
  height: 60px;

  color: #BF0A30;

  font-family: 'Comfortaa', cursive;
  font-size: 30px;
}

form {
  display: inline-block;
}

input {
  display: inline-block;
}

.searching-text {
  text-align: center;

  color: white;

  font-family: 'Zilla Slab', serif;
  font-size: 28px;
}

.content {
  position: relative;
}

.results-headers {
  color: #002868;

  font-family: 'Cinzel', serif;
  font-size: 30px;
}

.results-text {
  text-align: center;

  color: #BF0A30;

  font-family: 'Zilla Slab', serif;
  font-size: 22px;
}

.comment {
    background-color: rgb(218, 213, 247);
}

.comment-text {
  margin-right: 5px;
  padding: 2px 5px;

  text-align: left;

  color: #002868;

  font-family: 'Josefin Slab', serif;
  font-size: 18px;
}

p.comment-text {
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment-button {
  display: inline-block;

  margin-right: 5px;
  padding: 2px 5px;

  text-align: center;

  color: white;
  background-color: #4CAF50;

  font-size: 16px;
}

div.results-card {
  margin-bottom: 50px;
  margin-left: 50px;
}

p.results-text {
  margin: 0;
}

input.modal-input {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 5px;
}

.modal-text {
  font-family: 'Josefin Slab', serif;
  font-size: 16px;
  font-weight: bold;
}

.modal-warning {
  color: #BF0A30;
}

.modal-label {
  color: #002868;
}

.modal-button {
  display: inline-block;

  margin-right: 5px;
  padding: 2px 5px;

  color: white;
  background-color: #BF0A30;

  font-size: 18px;
}

.hidden {
  display: none;
}
