* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  width: 100%
}

.title-banner {
  position: relative;
  width: 100%;
  max-height: 800px;
  overflow: hidden; 
}

#banner-video {
  width: 100%;
}

video::-webkit-media-controls {
  display: none !important;
}

#banner-opaque {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
}

#banner-text {
  position: absolute;
  top: 10%;
  left: 40%;
  color: red;
  font-family: 'Comfortaa', cursive;
  font-size: 42px;
}

#dropdown-menu {
  position: absolute;
  top: 25%;
  left: 45%;
}

form {
  display: inline-block;
}

input {
  display: inline-block;
}

.content {
  position: relative;
  padding-top: 100px;
}
