/* General CSS Ruleset for the entire page */
* {
  box-sizing: border-box;
}

/* General CSS Ruleset for the entire page */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* General CSS Ruleset for the entire page */
img {
  width: 100%;
  height: auto;

  border: 1px solid #002868;
  border-radius: 50%;
}

/* The banner image */
.title-banner {
  justify-content: center;
  background: url(../images/capitol-building.jpg) no-repeat;
  min-height: 100%;
}

/* The banner text */
#banner-text {
  text-align: center;

  color: #BF0A30;

  font-family: 'Comfortaa', cursive;
  font-size: 48px;
}

/* The dropdown menu in the banner */
#dropdown-menu {
  text-align: center;
}

/* The dropdown menu text in the banner */
select.small-12.cell {
  height: 60px;

  color: #002868;

  font-family: 'Comfortaa', cursive;
  font-size: 26px;
}

/* The dropdown menu buttons in the banner */
input#js-dropdown-submit {
  height: 60px;

  color: #BF0A30;
  background-color: white;

  font-family: 'Comfortaa', cursive;
  font-size: 26px;
}

/* The form inside the modal */
form {
  display: inline-block;
}

input {
  display: inline-block;
}

/* The searching notification in the banner */
.searching-text {
  text-align: center;

  color: white;

  font-family: 'Zilla Slab', serif;
  font-size: 28px;
}

.content {
  position: relative;
}

/* The headers (Senators, Representatives) */
.results-headers {
  justify-content: center;
  color: #002868;

  font-family: 'Cinzel', serif;
  font-size: 30px;
}

/* The content for (Senators, Representatives) */
.results-text {
  text-align: center;

  color: #BF0A30;

  font-family: 'Zilla Slab', serif;
  font-size: 22px;
}

/* Background color of each comment */
.comment {
    background-color: rgb(218, 213, 247);
}

/* Comment text */
.comment-text {
  margin-right: 5px;
  padding: 2px 5px;

  text-align: left;

  color: #002868;

  font-family: 'Josefin Slab', serif;
  font-size: 18px;
}

p.comment-text {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Comment buttons (Update, Delete, Add) */
.comment-button {
  display: inline-block;

  margin-right: 5px;
  padding: 2px 5px;

  text-align: center;

  color: white;
  background-color: #4CAF50;

  font-size: 16px;
}

/* Each member of Congress */
div.results-card {
  margin-bottom: 50px;
  margin-left: 50px;
}

p.results-text {
  margin: 0;
}

/* Modal rulesets */
input.modal-input {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 5px;
}

.modal-text {
  font-family: 'Josefin Slab', serif;
  font-size: 16px;
  font-weight: bold;
}

.modal-warning {
  color: #BF0A30;
}

.modal-label {
  color: #002868;
}

.modal-button {
  display: inline-block;

  margin-right: 5px;
  padding: 2px 5px;

  color: white;
  background-color: #BF0A30;

  font-size: 18px;
}

/* To hide anything to be revealed later */
.hidden {
  display: none;
}
